@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
.Rolldice-face{
    width: 100%;
    margin:3em auto;
    display: flex;
    justify-content: space-evenly;
}
.RollDice-btn{
    display: flex;
    justify-content: center;
}

.RollDice-btn button{
    width: 10em;
    height: 3em;
    margin: 1.6em;
    font-size: 2em;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0;
    background-color: #6e5773;
    color: wheat;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

.RollDice-btn button:hover{
    background-color: #f3dfe3;
    color: #6e5773;
    cursor: pointer;
}